{% extends 'base.html' %}
{% load static %}
{% block title %}Gear Up Lead | Blog{% endblock title %}
{% block navID %}blogNav{% endblock navID %}
{% block style %}
{% endblock style %}
{% block content %}
 
<section class="bg-primary w-100" style="position: absolute; padding-bottom:70px;padding-top:30px;">
    <div class="container">
        <h1 class="text-light " style="padding-top: 40px;font-weight:600;" >Featured posts</h1>
        <hr class="w-25" style="border-bottom: 4px solid rgb(245, 245, 245);">
    </div>
</section>

<section style="position: relative; padding-top:190px;">
    <div class="container">
        <div class="row">
            {% for blog in featured_blog %}
                <div class="col-md-3  card mx-auto p-3 shadow" style="border-radius:10px">
                    <a class=" text-decoration-none" href="{% url 'blog-detail' blog.id  blog.slug %}"> 
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold pt-4 text-dark">{{blog.heading}}</h5>
                            <p class="card-text text-dark">{{blog.description|safe|striptags|truncatewords:20}}</p>
                            <p>
                                <small>{{blog.author_name}}</small>
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </a>
                </div>
            {%endfor%}
        </div>
    </div>
</section>

<section class="pt-5">
    <div class="container">
        <div class="row mt-5">
            <h2 class="ml-lg-3" >More posts</h2>
            <!-- <div class="col-md-4 mx-auto">
                <hr class="w-50" style="border-bottom: 4px solid rgba(0,0,0,1);">
                <div class="row m-lg-5">
                    <div class="col-md-11">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                            <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-8 mx-auto">
                {% for blog in object_list %} 
                <div class="card mt-4 bg-light p-3 " >
                    <a class=" text-decoration-none" href="{% url 'blog-detail' blog.id blog.slug %}">
                        <div class="card-body">  
                            <h5 class="card-title text-dark">{{blog.heading}}</h5>
                            <p class="card-text text-dark">{{blog.description|safe|striptags|truncatewords:50}}</p>
                            <p>
                                <small>{{blog.author_name}} {{blog.date}}</small>
                            </p>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</section>




{% endblock content %}