{% extends 'base.html' %}
{% load static %}
{% block title %}Gear Up Lead | Blog{% endblock title %}
{% block navID %}dropdownMenuButton{% endblock navID %}
{% block style %}
{% endblock style %}
{% block content %}
 
<section class="bg-primary w-100" style="position: absolute; padding-bottom:70px;padding-top:30px;">
    <div class="container">
        <h1 class="text-light " style="padding-top: 40px;font-weight:600;" >Featured posts</h1>
        <hr class="w-25" style="border-bottom: 4px solid rgb(245, 245, 245);">
    </div>
</section>

<section style="position: relative; padding-top:190px;">
    <div class="container">
        <div class="row">
            {% for blog in featured_blog %}
                <div class="col-md-3  card mx-auto p-3 shadow" style="border-radius:10px">
                    <a class=" text-decoration-none" href="{% url 'blog-detail' blog.id  blog.slug %}"> 
                        <div class="card-body">
                            <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                <path d="M5.354 5.119L7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.519.519 0 0 1-.146.05c-.341.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.171-.403.59.59 0 0 1 .084-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027c.08 0 .16.018.232.056l3.686 1.894-.694-3.957a.564.564 0 0 1 .163-.505l2.906-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.002 2.223 8 2.226v9.8z"/>
                            </svg>
                            
                            <h5 class="card-title pt-4 text-dark">{{blog.heading}}</h5>
                            <p class="card-text text-dark">{{blog.description|safe|truncatewords:20}}</p>
                            <p>
                                <small>{{blog.author_name}} {{blog.date}}</small>
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </a>
                </div>
            {%endfor%}
        </div>
    </div>
</section>

<section class="pt-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 mx-auto">
                <h2 class="ml-lg-3" >More posts</h2>
                <hr class="w-50" style="border-bottom: 4px solid rgba(0,0,0,1);">
                <div class="row m-lg-5">
                    <div class="col-md-11">
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                            <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mx-auto">
                {% for blog in object_list %} 
                <div class="card mt-4 bg-light p-3 shadow" >
                    <a class=" text-decoration-none" href="{% url 'blog-detail' blog.id blog.slug %}">
                        <div class="card-body">  
                            <h5 class="card-title text-dark">{{blog.heading}}</h5>
                            <p class="card-text text-dark">{{blog.description|safe|truncatewords:50}}</p>
                            <p>
                                <small>{{blog.author_name}} {{blog.date}}</small>
                            </p>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</section>




{% endblock content %}