{% extends 'base.html' %}
{% load static %}
{% block title %} Work with us | GearUplead{% endblock title %}
{% block navID %}{% endblock navID %}
{% block style %}
{% endblock style %}
{% block content %}

<section class="job_opening">
    <div class="job_opening_div">
        <div class="container pt-5 pb-5">
            <h1 class=" text-center text-light pt-5 font-weight-bold" >Carrer</h1>
            <h3 class="text-center pt-4 text-light">Join Our Team</h3>
            <hr class="mx-auto" style="border-bottom: 4px solid #fff; width:5%;">
        </div>
    </div>
</section>


<section>
    <div class="container bg-light">
        <h1 class=" text-center py-5">Available Openings at GearUpLead</h1>
    </div>
</section>

<section class="mt-5">
    <div class="container">
        {% for career in careers %}
          
            <div class="row">
                <div class="col-md-4">    
                    <p class="">{{career.heading}}</p>
                </div>
                <div class="col-md-4">
                    <p> 
                        {{career.location}}
                    </p>
                </div>
                <div class="col-md-2 pb-3">
                    <div class="dropdown">
                        <a href="{{career.apply_link}}" class="btn btn-primary" target="_next">
                          Apply
                        </a>
                      </div>
                </div>
                <div class="col-md-2">
                    <p class=" text-primary text-uppercase">Full TIme  </p><small>{{career.job_posted}} </small>
                </div>
                
            </div>
            <hr>
        {% endfor %}
    </div>
</section>


{% endblock content %}