{% extends 'base.html' %}
{% load static %}
{% block title %}Gear Up Lead | Home{% endblock title %}
{% block navID %}writeAboutNav{% endblock navID %}
{% block style %}
{% endblock style %}
{% block content %}
<section class="bg-primary py-5 w-100" style="position: absolute;">
    <div class="container pb-5">
            <div class="ml-5 text-white display-5 font-weight-bold">Write For Us </div>
            <hr class="w-25 ml-5" style="border-bottom: 4px solid rgb(160, 214, 250);">
        </div>
    </div>  
</section>
<section style="position: relative; padding-top:100px;">
    <div class="container" >
        <div class="row">
            <div class="col-md-6 pt-5">
                {% for data in write_data %}
                <div class="pt-4">    
                    <div class="card media shadow card-body" style="border-radius: 20px;">
                        <div class="d-flex">
                            <img src="{{data.image.url}}" class="rounded-circle mr-3"    alt="" style="object-fit: cover;height: 3rem;width: 3rem; border: 3px solid rgba(0,0,0,.75); padding: 2px;">
                            <h5 class="pt-2"> <b>{{data.first_name}} {{data.last_name}} </b> </h5>
                          </div>
                          <p class="pt-3">{{data.description}}</p>   
                          <br>  <small class="text-muted"> {{data.date}}</small>
                        </div>
                </div> 
                {% endfor %}
                       
            </div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-5 mx-auto pt-4">
                <div class="card shadow " style="border-radius: 20px;">
                    <h4 class="text-center pt-4">Write here</h4>
                    <form method="POST" class="p-4" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">First Name </label>
                            <input type="text" name="first_name" class="form-control p-3 shadow-none" id="exampleFormControlInput1" placeholder="" required>
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label"> Last Name </label>
                            <input type="text" name="last_name" class="form-control p-3 shadow-none" id="exampleFormControlInput1" placeholder="" required>
                          </div>
                          <div class="mb-3">
                            <label for="formFile" class="form-label">Place Image</label>
                            <input class="form-control" name="image" type="file" id="formFile" required>
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control shadow-none" name="description" id="exampleFormControlTextarea1" rows="4" required></textarea>
                          </div>
                          {%csrf_token%}
                          <div class="mb-3 mt-4">
                            <button type="submit" class="btn btn-primary btn-lg rounded-pill btn-block">Submit</button>
                          </div>
                    </form>
                </div>              
            </div>
        </div>
    </div>
</section>
{% endblock content %}