{% extends 'base.html' %}
{% load static %}
{% block title %}Gear Up Lead | Service{% endblock title %}
{% block navID %}serviceNav{% endblock navID %}
{% block style %}{% endblock style %}
{% block content %}

<section class="service">
    <div class="service_div">
        <div class="container pt-5">
            <h1 class=" text-center text-light pt-5 font-weight-bold">{{service}}</h1>
            <h3 class="text-center pt-4 text-primary">{{service.sub_heading}}</h3>
            <hr class="mx-auto" style="border-bottom: 4px solid rgb(226, 226, 226); width:5%;">
        </div>
    </div>
</section>
{%for ser in service.servicesection_set.all %}
{%if forloop.counter|divisibleby:"2" %}
<section class="" style="margin-top: 100px;"> 
    <div class="container">
        <div class="row">
            <div class="col-md-4 overflow-hidden">
                <img class=" img-responsive img-thumbnail" src="{{ser.image.url}}" alt="" style="border: none;">  
            </div>
            <div class="col-md-7 d-flex justify-content-around p-5" style="margin-top: 20px;">
                <div>
                    <h2>{{ser.heading}}</h2>
                    <hr class="w-25" style="border-bottom: 4px solid rgb(20, 161, 255);">
                    <p class="pt-4">{{ser.content|safe}}</p>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</section>
{%else%}
<section class="" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-7 p-5" style="margin-top: 20px;">
                <h2>{{ser.heading}}</h2>
                <hr class="w-25" style="border-bottom: 4px solid rgb(20, 161, 255);">
                <p class="pt-4" style="text-align: justify;text-justify: inter-word !important;">
                    {{ser.content|safe}}
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive img-thumbnail " src="{{ser.image.url}}" alt="" style="border: none;">
            </div>
        </div>
    </div>
</section>
{%endif%}
{%endfor%}

<section class="mt-5 pb-4" style="width: 100%;background-color:rgb(216, 216, 216); ">
    <div class="container mb-5">
        <h1 class="text-center pt-5">{{section5.heading}}</h1>
        <div class="row pb-5 pt-4">
            {%for client in section5.client_detail_set.all %}
            <div class="col-md-2 card shadow mt-3 mr-3 py-5"> 
                <img class="img-responsive img-thumbnail w-100 h-100" src="{{client.client_image.url}}" alt="">
            </div>
                {%endfor%}
        </div>
    </div>
</section>


{% endblock content %}