{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <meta name="description" content="{% block desc %}
    {% endblock desc %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-css_5.0-alpha.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    {% block style %}
    {% endblock style %}
    <title>{% block title %}
    {% endblock title %}</title>
    <style>
      .nav-active{
        color:rgb(0, 132, 255) !important;
        /* border-bottom: 3px solid rgb(0, 132, 255); */
        font-weight: bold;
      }
      .nav-link{
        font-weight: bold;
      }
      .nav-link:hover{
        color:rgb(0, 132, 255) !important;
        border-bottom: 3px solid rgb(0, 132, 255);
      }
      html{
        scroll-behavior: smooth !important;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock content %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> {% endcomment %}

    {% include "footer.html" %}
  </body>
  <script src="{% static 'js/bootstrapJS.5.0-js.js' %}"></script>
  <script>
    window.addEventListener("scroll",function(){
        var nav = document.querySelector("nav");
        
        if (window.scrollY > 400){
          // nav.classList.remove("navbar-dark");
          nav.classList.add("fixed-top","shadow");
        }else {
          // nav.classList.add("navbar-dark");
          nav.classList.remove("fixed-top","shadow");
        }
    });  
    document.getElementById(`{% block navID %}{% endblock navID %}`).classList.add("nav-active") 
    </script>
</html>
