{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <meta name="description" content="{% block desc %}
    {% endblock desc %}">
    <meta name="google-site-verification" content="4VY-7W79ZUqw_OwyeLK8lg6d3yYUPQ-WNqJaFxTJe7s" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-css_5.0-alpha.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    {% block style %}
    {% endblock style %}
    <title>{% block title %}
    {% endblock title %}</title>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript"> var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date(); (function(){ var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0]; s1.async=true; s1.src='https://embed.tawk.to/6005445aa9a34e36b96d827c/1esa96122'; s1.charset='UTF-8'; s1.setAttribute('crossorigin','*'); s0.parentNode.insertBefore(s1,s0); })(); </script> 
      <!--End of Tawk.to Script-->
  </head>
  <body>
    <a href="#" class="bg-primary btn" id="back-top_button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-circle-fill text-light" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg></a>
    {% include 'navbar.html' %}
    <div id="nav-bottom"></div>

    {% block content %}

    {% endblock content %}


    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button> -->


    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-capitalize" id="ModalLabel"></h5>
            <button type="button" class="btn-close btn" data-dismiss="modal" aria-label="Close">X</button>
          </div>
          <div class="modal-body text-capitalize" id="modelBody">
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
 

    {% include "footer.html" %}
    <script src="{% static 'js/bootstrapJS.5.0-js.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      var myModal = new bootstrap.Modal(document.getElementById('myModal'))
      var modelbody = document.getElementById("modelBody");
      var ModalLabel = document.getElementById("ModalLabel");
      //myModal.show()
      
        "{% for message in messages  %}"
              modelBody.innerText = "{{message}}"
              ModalLabel.innerText = "{{message.tags}}"
              myModal.show()
              
            "{% endfor %}"
  
    </script>
  </body>
  
</html>
