{% load static %}

<nav class="navbar navbar-expand-lg text-white navbar-light bg-white ">
      <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/favicon.ico' %}" width="60px" alt="">
            GearUpLead
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-lg-5 mr-auto">
                  <li class="nav-item pr-2">
                      <a class="nav-link "  id="homeNav" href="/">HOME</a>
                  </li>
                  <li class="nav-item pr-2">
                    <a class="nav-link" id="coreNav" href="#home">SERVICES</a>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link" id="busNav" href="#home">WRITE FOR US</a>
                </li>
                <li class="nav-item pr-2">
                  <a class="nav-link" id="aboutNav" href="{% url 'about-us' %}">ABOUT US</a>
              </li>
              </ul>
              <ul class="navbar-nav p-2 ml-auto">
                <li class="nav-item pr-2">
                  <div class="dropdown">
                      <a class="nav-link  dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BLOG
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                  </li>
                <li class="nav-item bg-primary rounded-pill pr-2">
                    <a class="nav-link text-light pl-2" id="contactNav" target="_" href="{% url 'contact-us' %}">CONTACT US</a>
                </li>
              </ul>
          </div>
      </div>
    </nav>

    